

.claire-button {
  background-color: mistyrose;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.claire-button:hover {
  background-color: mistyrose;
}

.wilf-button {
  background-color: navy;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.wilf-button:hover {
  background-color: navy;
}

.woo-button {
  background-color: Gold;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.woo-button:hover {
  background-color: Gold;
}